.navbar{
    background-color: rgb(0, 0, 0);
    padding: 20px 50px 16px 16px;
    position:fixed ;
    top: 0;
    width: 100%;
    z-index: 10000;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-name{
    color: rgb(255, 255, 255);
    font-family: 'Papyrus', fantasy;
    font-size: 16px;
    display: flex;
    gap: 5px;
}

.first-name{
    color: #ff6b6b;
}

.last-name{
    color:#4ecdc4;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap:60px;
    margin: 0;
    padding: 0;
}

.nav-link{
    color: rgb(216, 212, 216);
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.nav-item:hover{
    color:rgb(255, 255, 255);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .nav-menu {
        gap: 20px;
        flex-wrap: wrap;  
    }
    .nav-link {
        font-size: 14px;
        padding: 8px;
    }
}